<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <title>Sales Report</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body class="dashboard-page">

    <%- include('navbar') %>

    <div class="container">

        <h1>Sales Report</h1>

        <table class="table table-bordered table-striped">

            <thead>

                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Total Price</th>
                    <th>Payment</th>
                </tr>

            </thead>

            <tbody>

                <% sales.forEach(function(sale,index){ %>

                    <tr>

                        <td>
                            <%= index+1 %>
                        </td>

                        <td>
                            <%= new Date(sale.createdAt).toLocaleString() %>
                        </td>

                        <td>
                            <%= sale.totalPrice %> ฿
                        </td>

                        <td>
                            <%= sale.paymentMethod %>
                        </td>

                    </tr>

                <% }) %>

            </tbody>

        </table>

    </div>

</body>

</html>